.header{
    align-items: center;
  align-self: center;
  display: flex;
  gap: 843px;
  margin-right: 24.0px;
  width: 100%;
  background-color: #011e47;
}

.l {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 2rem;
    min-height: 62px;
    min-width: 13px;
    font-size: 20px;
    margin-left: 5rem;
    color: white;
  }

  .access{
    letter-spacing: 0;
  line-height: normal;
  height: 25px;
  padding: 4px;
  text-align: center;
  margin-left: 5rem;
  width: 10rem;
  color: white;
  border: solid 1px rgb(0, 0, 20);
  border-radius: 7px;
  margin-bottom: 2rem;
  cursor: pointer;
  }
  
  